<template>
  <section>
    <h4>Formulaire d'inscription</h4>

    <div>
      <b-form
        @submit.prevent="onSubmit"
        @reset="onReset"
        v-if="show"
        style="width:800px; margin:auto;"
      >
        <b-form-group id="exampleInputGroup2" label="Name:" label-for="exampleInput2">
          <b-form-input
            id="exampleInput2"
            type="text"
            v-model="form.name"
            required
            placeholder="Entrez nom"
          ></b-form-input>
        </b-form-group>
        <b-form-group id="exampleInputGroup3" label="Forename:" label-for="exampleInput3">
          <b-form-input
            id="exampleInput3"
            type="text"
            v-model="form.forename"
            required
            placeholder="Entrez prénom"
          ></b-form-input>
        </b-form-group>
        <b-form-group id="exampleInputGroup4" label="City:" label-for="exampleInput4">
          <b-form-input
            id="exampleInput4"
            type="text"
            v-model.number="form.city"
            required
            placeholder="Entrez la ville"
          ></b-form-input>
        </b-form-group>
        <b-form-group id="exampleInputGroup5" label="Code_Postale" label-for="exampleInput5">
          <b-form-input
            id="exampleInput5"
            type="number"
            v-model="form.zipCode"
            required
            placeholder="Entrez Code Postal"
          ></b-form-input>
        </b-form-group>
        <b-form-group id="exampleInputGroup6" label="Mot_de_Passe" label-for="exampleInput6">
          <b-form-input
            id="exampleInput6"
            type="password"
            v-model="form.password"
            required
            placeholder="Entrez le mot de passe"
          ></b-form-input>
        </b-form-group>

        <b-button type="submit" variant="primary">Ajouter</b-button>
        <b-button type="reset" variant="danger">Annuler</b-button>
      </b-form>
    </div>
  </section>
</template>

<script>
export default {
  name: "forme",
  data() {
    return {
      form: {
        name: "",
        forename: "",
        city: "",
        zipCode: "",
        password: ""
      },
      show: true
    };
  },
  methods: {
    onSubmit(evt) {
      this.$emit("forme", Object.assign({}, this.form));
    },
    onReset(evt) {
      evt.preventDefault();
      /* Reset our form values */

      this.form.name = "";
      this.form.forename = "";
      this.form.city = "";
      this.form.zipCode = "";
      this.form.password = "";
      /* Trick to reset/clear native browser form validation state */
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    }
  }
};
</script>
<style>
h4 {
  color: salmon;
}
</style>