<template>
  <div class="container">
    <div class="card login">
      <div class="card-body">
        <h2 class="card-title text-center">Login</h2>
        <form @submit.prevent="login" class="text-center">
          <!--submit event-->
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Please enter your name..."
              name="name"
              v-model="name"
            />
            <p v-if="errorText" class="text-danger">{{ errorText }}</p>
            <!--condition evenement-->
          </div>
          <button type="submit" class="btn btn-primary">Enter Chat</button>
        </form>
      </div>
    </div>
  </div>
  <!-- //<script src="https:www.gstatic.com/firebasejs/6.3.0/firebase-app.js"> -->
</template>
<script>
export default {
  name: "login", //'login',
  data() {
    // data()
    return {
      name: "",
      errorText: null //null
    };
  },
  methods: {
    login: function() {
      //login()
      if (this.name) {
        this.$router.push({ name: "Chat", params: { name: this.name } }); // j arrive pas a enlever
      } else {
        this.errorText = "Please enter a name first!";
      }
    }
  }
};
</script>
<style>
.login {
  max-width: 450px;
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
